<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{% render 'global-dir' %}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    {%- render 'global-meta' -%}

    {% # theme-check-disable AssetPreload %}
    {%- unless settings.bodyFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.bodyFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.headingsFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.headingsFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {% # theme-check-enable AssetPreload %}

    {{ 'skelet.css' | asset_url | stylesheet_tag: preload: true }}


    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | image_url: width: 250, height: 250 }}">
    {%- endif -%}

    <script>document.documentElement.className = 'js';</script>

    <!-- BEGIN content_for_header -->
    {{ content_for_header }}
    <!-- END content_for_header -->

    {%- liquid
        echo 'skelet.css' | asset_url | stylesheet_tag

        render 'global-css-vars'

        if settings.useCustomFont
            render 'global-fonts'
        endif 

        echo 'app.css' | asset_url | stylesheet_tag
    -%}

    {% # theme-check-disable %}
    {%- if settings.css != blank -%}<style>{{ settings.css | replace: '<style>' '' | replace: '</style>' '' }}</style>{%- endif -%}
    {% # theme-check-enable %}

    {%- style -%}
    #app { gap: var(--globalBorderWidth) }
    #app > * { outline: var(--globalBorder) }

    header { padding: var(--padding); border: none }
        html:not(.firefox) header img.logo { width: 100% }
    main > *:last-child:not([id*="main"]) { margin-block-end: calc(-1 * var(--globalBorderWidth)) }
    footer { padding: var(--padding); border: none }
        footer [href="#login"]  { --buttonPadding: 0 }

    .password-content { --rowGap: var(--globalBorderWidth); --columnGap: var(--globalBorderWidth) }
    .password-content > x-grid > x-cell { outline: var(--globalBorder) }
    .password-content .newsletter { display: block; padding: var(--padding) }
    .password-content .content { padding:var(--padding) }
    .password-content svg { height: 90vh }

    .newsletter[span="row"] .newsletter-block { max-width: 72ch; margin: 0 auto }

    #login, #login + div { display: none }
    #login:target { display: flex }
    #login:target + div { display: flex }
    #login:target ~ #loginFire, #loginFire:target ~ #loginFire + div { display: none }

    .password-form-wrapper { position: fixed; z-index: 99; bottom: var(--padding); right: var(--padding) }
    @media (max-width: 777px) { .password-form-wrapper { left: var(--padding) } }
    .password-form-box > form > x-grid { background: var(--bgColor); box-shadow: var(--globalShadow) }
    .password-form-box > form > x-grid > * { outline: var(--globalBorder); padding: calc(var(--padding) / 2); }
    .password-form-box :where(ul,li) { margin: 0 }
    {%- endstyle -%}
</head>

<body class="password-page" pid="{{ request.path }}">
<a href="#mainContent" class="skip-to-content button is-primary visually-hidden">{{ "general.accessibility.skip_to_text" | t }}</a>

    <component-loader id="app">
        {%- section 'password-header' -%}
        <main id="mainContent">{{ content_for_layout }}</main>
        {%- section 'password-footer' -%}
    </component-loader>

    {% # theme-check-disable %}
    <script src="{{ 'app.js' | asset_url }}"></script>
    {%- if request.design_mode -%}<script src="{{ 'h-editor.js' | asset_url }}" id="coretex-theme-editor" data-id="{{ shop.id }}" data-contact="{{ shop.email }}"></script>{%- endif -%}
    {%- render 'inc-components' -%}
    {%- if settings.js != blank -%}<script id="bUserJS">{{ settings.js | replace: '<script>' '' | replace: '</script>' '' }}</script>{%- endif -%}
    {%- render 'global-trackers' %}
    {% # theme-check-enable %}
</body>
</html> 