{%- render 'inc-stylesheet', src: 'gs-comparison.css' -%}

<section
    class="image-before-after" 
    style="{{ section.settings.height | prepend: '--hHeight:' }}; {{ section.settings.heightMobile | prepend: '--hHeightMob:' | append: ';' }}">
    {%- if section.settings.heading != empty -%}<h3 class="gs-title">{{ section.settings.heading }}</h3>{%- endif -%}
    <image-comparison class="image-comparison" data-orient="{{ section.settings.orient }}">
        <div class="cortex">
            {% for block in section.blocks %}
            {%- case block.type -%}
            {%- when 'image' -%}
            {%- liquid 
                if forloop.first
                    assign blockNum = 'imageBefore'
                    assign js = 'start' 
                else
                    assign blockNum = "imageAfter"
                    assign js = 'end'
                endif
            -%}
            <div class="{{ blockNum }} gridabsolute">
                {%- if block.settings.heading != empty -%}
                <div class="label large-only" as="{{ block.settings.alignment }}" js="{{ js }}"><span>{{ block.settings.heading }}</span></div>
                {%- endif -%}
                <div class="media">
                    <picture>
                        {%- assign imgMobile = block.settings.imageMobile -%}
                        {%- assign imgDesktop = block.settings.image -%}

                        {%- if imgDesktop != nil or imgMobile != nil -%}
                        {%- if imgMobile != nil -%}<source media="(max-width:777px)" srcset="{{ imgMobile | image_url }}">{%- endif -%}
                        {%- if imgDesktop != nil -%}<source media="(min-width:778px)" srcset="{{ imgDesktop | image_url }}">{%- endif -%}
                        {%- render 'global-img' img: imgDesktop -%}
                        {%- else -%}
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'svg-placeholder' }}
                        {%- endif -%}
                    </picture>
                </div>
            </div>
            {%- endcase -%}
            {%- endfor -%}
        </div>

        <input type="range" min="1" max="99" value="{{ section.settings.startingValue }}">
        <button type="button" class="separationLine" tabindex="-1" aria-label="hidden">
            <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" /></svg></span>
        </button>
    </image-comparison>    
</section>

{% schema %}
{
  "name": "Image comparison",
  "max_blocks": 2,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "presets": [
    {
      "name": "Image comparison",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Headings",
      "default": "Before/after"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Banner height",
      "default": "600px",
      "options": [
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "450px",
          "label": "450px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "650px",
          "label": "650px"
        },
        {
          "value": "700px",
          "label": "700px"
        },
        {
          "value": "750px",
          "label": "750px"
        },
        {
          "value": "var(--heroHeight-f)",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "heightMobile",
      "label": "Banner height - mobile",
      "default": "350px",
      "options": [
        {
          "value": "200px",
          "label": "200px"
        },
        {
          "value": "250px",
          "label": "250px"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "350px",
          "label": "350px"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "450px",
          "label": "450px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "var(--heroHeight-f)",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "orient",
      "label": "Layout orientation",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ]
    },
    {
        "type": "range",
        "label": "Starting value",
        "id": "startingValue",
        "info": "The starting value of the slider",
        "min": 1,
        "max": 99,
        "step": 1,
        "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Notice",
          "info": "For optimal results, maintain consistent image dimensions."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop"
        },
        {
          "type": "image_picker",
          "id": "imageMobile",
          "label": "Mobile"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Leave blank to remove heading."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Heading position",
          "default": "start",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}