<section class="faq">
<h3 class="gs-title">{{ section.settings.heading }}</h3>
<x-grid columns="3" columns-s="1">
{%- for block in section.blocks -%}
    <x-cell {{ block.shopify_attributes }}>
        <details {% if block.settings.expandAnswer == true %}open{% endif %} itemscope itemtype="https://schema.org/Question">
            <summary data-question="question" itemprop="name">{{ block.settings.title | escape }}</summary>
            <div data-answer="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text" class="rte">{{ block.settings.answer }}</div>
            </div>
        </details>
    </x-cell>
{%- endfor -%}
</x-grid>
{%- if section.settings.all != empty -%}
    <div class="loadmore"><a href="{{ section.settings.link }}" class="no-style">{{ section.settings.all }}</a></div>
{%- endif -%}
</section>

{% schema %}
{
  "name": "FAQ",
  "max_blocks": 12,
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ],
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Frequently Asked Questions"
    },
    {
      "type": "text",
      "id": "all",
      "label": "Button label",
      "default": "View all FAQ"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "checkbox",
          "id": "expandAnswer",
          "label": "Expand by default",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}