{%- liquid
    assign firstBlock = section.blocks[0]
    assign isImageFirst = false
    assign isVideoFirst = false
    #assign isVideoExternalFirst = false
    assign blockName = nil
    assign videoHeight = nil

    case firstBlock.type
    when 'image'
        assign isImageFirst = true
    when 'video'
        assign isVideoFirst = true
        assign blockName = 'html5video'
        if section.settings.cropVideo
            assign videoHeight = '--vidCropO:hidden;--vidCropH:var(--heroHeight);'
        endif
    when 'video_external'
        #assign isVideoExternalFirst = true
        assign blockName = 'externalvideo'
    endcase
-%}

{%- liquid 
    capture style
        echo section.settings.heroMetaH1Bg | prepend: '--heroMetaH1Bg:' | append: ';'
        echo section.settings.heroMetaH1Color | prepend: '--heroMetaH1Color:' | append: ';'

        assign heroHeight = section.settings.heroHeight
        if section.settings.heroHeight == 'uncropped'
            assign heroHeight = 'var(--heroHeight-f)'
        endif
        echo heroHeight | prepend: '--heroHeight:' | append: ';'

        echo videoHeight
    endcapture
-%}

{%- if section.settings.heroHeight == 'uncropped' -%}
<style>@media (min-width:778px) { .hero.hero[sid="{{ section.id }}"] { --heroHeight-f: auto!important; aspect-ratio: initial; overflow: visible } .hero[sid="{{ section.id }}"] picture img { all: unset; display: block; width: 100% } }</style>
{%- endif -%}

<section class="hero {{ blockName }}" style="{{ style }}" sid="{{ section.id }}">

{% for block in section.blocks %}
{%- case block.type -%}
{%- when 'image' -%}

    {%- if isImageFirst -%}
    {%- if block.settings.imgClickable and section.settings.url != empty %}
    <style>.hero[sid="{{ section.id }}"] { --heroMetaPointerEvents: none }</style>
    <a href="{{ section.settings.url }}" class="no-style" tabindex="-1">{% endif -%}
    <picture>
        {%- assign imgMobile = block.settings.imageMobile -%}
        {%- assign imgDesktop = block.settings.image -%}

        {%- if imgDesktop != nil or imgMobile != nil -%}
        {%- if imgMobile != nil -%}<source srcset="{{ imgMobile | image_url: width: 970 }} 1x, {{ imgMobile | image_url: width: 1280 }} 2x" media="(max-width:777px)">{%- endif -%}
        {%- liquid
            assign width = 2750
            assign widths = '750,1000,1280,1500,1750,2000,2500,2750'
            render 'global-img' img: imgDesktop, alt: section.settings.title, width: width, widths: widths
        -%}
        {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'svg-placeholder' }}
        {%- endif -%}
    </picture>
    {%- if block.settings.imgClickable and section.settings.url != empty -%}</a>{%- endif -%}
    {%- endif -%}

{%- when 'video' -%}
    {%- if isVideoFirst -%}

        {%- liquid
            assign vid = block.settings.video
            assign vidMobile = block.settings.videoMobile | default: nil 

            assign loop = block.settings.videoLoop
            assign autoplay = block.settings.videoAutoplay
            assign muted = block.settings.videoMute
            assign clickToPlay = block.settings.clickToPlay
            assign controls = block.settings.playPause

            render 'global-video' vid: vid, vidMobile: vidMobile, loop: loop, autoplay: autoplay, muted: muted, clickToPlay: clickToPlay, controls: controls
        -%}

    {%- endif -%}
{%- endcase -%}
{%- endfor -%}

    <div class="meta" {%- if section.settings.imgClickable and section.settings.url != empty -%}style="pointer-events:none"{%- endif -%}>
    	<x-flex class="box" pi="{{ section.settings.contentPosition }}" pi-s="{{ section.settings.contentPositionMob }}" orientation="{{ section.settings.contentDirection }}" orientation-s="{{ section.settings.contentDirectionMob }}">
            <x-cell class="content">
                <x-flex direction="{{ section.settings.contentDirection }}" direction-s="{{ section.settings.contentDirectionMob }}" ai="{{ section.settings.textAlignment | replace: 'left', 'start' | replace: 'right', 'end' }}" ai-s="{{ section.settings.textAlignmentMob | replace: 'left', 'start' | replace: 'right', 'end' }}" style="gap:var(--padding)"> 
                    <x-cell>
                        {%- if section.settings.title != empty -%}<h2 {% if section.settings.heroMetaH1hasBg == true %}class="hasBg"{% endif %}>{{ section.settings.title }}</h2>{%- endif -%}
                        {%- if section.settings.content != empty -%}<p {% if section.settings.heroMetaH1hasBg == true %}class="hasBg"{% endif %}>{{ section.settings.content }}</p>{%- endif -%}
                    </x-cell>
                    <x-cell>{%- if section.settings.cta != empty -%}<a href="{{ section.settings.url }}" class="button is-customized">{{ section.settings.cta }}</a>{%- endif -%}</x-cell>
                </x-flex>
            </x-cell>
    	</x-flex>
    </div>
</section>

{% schema %}
    {
      "name": "Hero banner",
      "max_blocks": 2,
      "disabled_on": { "groups": ["header", "footer", "aside"] },
      "settings": [
        {
            "type": "header",
            "content": "Notice",
            "info": "This section supports images and self-hosted videos. To switch between image and video blocks, first remove the block you're currently using."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "heroHeight",
          "label": "Banner height",
          "default": "var(--heroHeight-f)",
          "options": [
            { "value": "var(--heroHeight-s)", "label": "Small" },
            { "value": "var(--heroHeight-m)", "label": "Medium" },
            { "value": "var(--heroHeight-l)", "label": "Large" },
            { "value": "var(--heroHeight-f)", "label": "Full" },
            { "value": "uncropped", "label": "Full uncropped" }
          ]
        },
        {
            "type": "checkbox",
            "id": "cropVideo",
            "label": "Crop video height",
            "info": "If enabled and the video is too tall, the video will be cropped and the banner height will reflect the size you selected in the option above.",
            "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Hero heading",
          "info": "Leave blank to hide heading."
        },
        {
          "type": "text",
          "id": "content",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "cta",
          "label": "Button label",
          "default": "Shop more",
          "info": "Leave blank to hide button."
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button link"
        },
        {
            "type": "select",
            "id": "contentPosition",
            "label": "Content position - desktop",
            "default": "center between",
            "options": [
                { "value": "top left", "label": "Top left" },
                { "value": "top center", "label": "Top center" },
                { "value": "top right", "label": "Top right" },
                { "value": "center left", "label": "Middle Left" },
                { "value": "center", "label": "Middle Center" },
                { "value": "center right", "label": "Middle Right" },
                { "value": "bottom left", "label": "Bottom left" },
                { "value": "bottom center", "label": "Bottom center" },
                { "value": "bottom right", "label": "Bottom right" },
                { "value": "top between", "label": "Top space-between" },
                { "value": "center between", "label": "Middle space-between" },
                { "value": "bottom between", "label": "Bottom space-between" }
            ]
        },
        {
            "type": "select",
            "id": "contentDirection",
            "label": "Content direction - desktop",
            "default": "row",
            "options": [
                { "value": "row", "label": "Row" },
                { "value": "column", "label": "Column" }
            ]
        },
        {
            "type": "text_alignment",
            "id": "textAlignment",
            "label": "Text alignment - desktop",
            "default": "left"
        },
        {
            "type": "select",
            "id": "contentPositionMob",
            "label": "Content position - mobile",
            "default": "center between",
            "options": [
                { "value": "top center", "label": "Top" },
                { "value": "center", "label": "Middle" },
                { "value": "bottom center", "label": "Bottom" },
                { "value": "center between", "label": "Space between" }
            ]
        },
        {
            "type": "select",
            "id": "contentDirectionMob",
            "label": "Content direction - mobile",
            "default": "column",
            "options": [
                { "value": "row", "label": "Row" },
                { "value": "column", "label": "Column" }
            ]
        },
        {
            "type": "text_alignment",
            "id": "textAlignmentMob",
            "label": "Text alignment - mobile",
            "default": "center"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "color",
          "id": "heroMetaH1Bg",
          "label": "Background color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "heroMetaH1Color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "heroMetaH1hasBg",
          "label": "Enable heading background",
          "default": false
        }
      ],
      "blocks": [
        {
          "type": "image",
          "name": "Image",
          "limit": 1,
          "settings": [
            {
                "type": "header",
                "content": "Notice",
                "info": "To use to the video block, remove this block first."
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Desktop",
              "info": "2000 x 1110px recommended"
            },
            {
              "type": "image_picker",
              "id": "imageMobile",
              "label": "Mobile",
              "info": "970 x 1110px recommended"
            },
            {
              "type": "checkbox",
              "id": "imgClickable",
              "label": "Clickable image",
              "default": false
            }
          ]
        },
        {
          "type": "video",
          "name": "Video",
          "limit": 1,
          "settings": [
            {
                "type": "header",
                "content": "Notice",
                "info": "To use to the image block, remove this block first."
            },
            {
                "type": "video",
                "id": "video",
                "label": "Desktop",
                "info": "Videos with a 16:9 aspect ratio are recommended."
            },
            {
                "type": "video",
                "id": "videoMobile",
                "label": "Mobile",
                "info": "Videos with a 9:16 aspect ratio are recommended."
            },
            {
                "type": "checkbox",
                "id": "videoLoop",
                "label": "Loop",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "videoMute",
                "label": "Mute",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "videoAutoplay",
                "label": "Autoplay",
                "default": false,
                "info": "Autoplay is not recommended. It is not supported on mobile devices and disabled by default in many browsers."
            },
            {
                "type": "checkbox",
                "id": "clickToPlay",
                "label": "Enable click to play",
                "info": "Click of the video container will toggle play/pause.",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "playPause",
                "label": "Enable play/pause button",
                "default": true
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hero banner",
          "blocks": [
            { "type": "image" }
          ]
        }
      ]
    }
{% endschema %}